
.Container {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    max-width: 70em;
    margin: 0 auto;
}
.column.left {
    max-width: 20%;
    -webkit-flex: 0 1 230px;          /* Chrome */
    -ms-flex: 0 1 230px;              /* IE 10 */
    flex: 0 1 230px;
    margin: 1em;
}
.column.right {
    max-width: 20%;
    -webkit-flex: 0 1 230px;          /* Chrome */
    -ms-flex: 0 1 230px;              /* IE 10 */
    flex: 0 1 230px;
    margin: 1em;
}
.column.center {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 1em;
}

.aligner {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-align-items: center;
  height: 80%;
  align-items: center;
  justify-content: center;
}
.post-title {
  width: auto;
  min-width: 50%;
  padding: 0 20%;
  text-align: center;
  background: #EAC932;
  
}

.post-title h1 {
  font-size: 1em;
  color: #efefef; 
}

.nav {
  position: fixed;
  margin-top: 80px;
  width: 200px;
  height: 80%;
}

.nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav #brand {
  text-decoration: none;
  color: #C7C3C4;
}

.nav #brand:hover {
  text-decoration: none;
  color: #85c7f2;
}

a {
  text-decoration: none;
  color: #C7C3C4;
}

a:hover {
  color: #FFD101;
  text-decoration: none;
}

blockquote {
  margin: 1em 3em;
  margin-left: 2em;
  border-left: 2px solid #FFD101;
  padding-left: 1em;
}

hr {
  height: 2px;
  color: #FFD101;
  background-color: #FFD101;
  background: #FFD101;
  border: none;
  margin: 0;
  margin-bottom: -10px;
}

table {
  margin: 0 auto;
}

.nav li {
  margin: 0.3em auto;
  padding: 0.1em;
  text-align: left;
  font-size: 110%;
}

.nav.right li {
  text-align: right;
  overflow: scroll;
}

.wrapper {
    margin-top: 30px;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.wrapper .wrapper-content {
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0;
    left: 0;
    color: #C7C3C4;
    font-size: 200%;
}