<footer>
    <a name="about"></a>
    <div class="about-wrap">
        <section class="about">
            <img class="about-avatar" src="{{ "/img/avatar.jpg" | prepend: site.baseurl }}" border="0" alt="[name]" />
            <div class="about-body">
                <p class="about-body-title">About</p>
                <p class="about-body-description">{{ site.description }}</p>
                <ul>
                    <li><a href="mailto:neilvyas@utexas.edu?subject=From%20your%20journal" target="_blank" class="about-body-link"><img src="{{ "/img/close13.svg" | prepend: site.baseurl }}" border="0" alt="Email" /> {{ site.email }}</a></li>
                    <li><a href="github.com/neilvyas" target="_blank" class="about-body-link"><img src="{{ "/img/github.svg" | prepend: site.baseurl }}" border="0" alt="Github" /> github.com/{{site.github_username}}</a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>