<header>
    <a href="/"><h3$link_color_over>{{ site.title }}</h3></a>
    <h2>{{ site.subtitle }}</h2>
    <h2>tags (click to view)</h2>
    <a href="/tagged/mathematics?tag=mathematics"><h2$link_color_over>mathematics</h2$link_color_over></a> | <a href="/tagged/design"><h2$link_color_over>design</h2$link_color_over></a> | <a href="/tagged/finance"><h2$link_color_over>finance</h2$link_color_over></a> | <a href="/tagged/graphics"><h2$link_color_over>graphics</h2$link_color_over></a> | <a href="/tagged/esoteric-musings"><h2$link_color_over>esoteric musings</h2$link_color_over></a>
</header>