<header>
<style>
	h2 {font-weight: 400; display: inline;}
</style>
    <a href="/"><h3>{{ site.title }}</h3></a><br>
    <a href="#about"><h2>{{ site.subtitle }}</h2><br></a>
    <h2>tags (click to view): </h2><a href="/tagged/mathematics"><h2>mathematics</h2></a> | <a href="/tagged/graphics"><h2>graphics</h2></a> | <a href="/tagged/design"><h2>design</h2></a> | <a href="/tagged/finance"><h2>finance</h2></a> | <a href="/tagged/programming"><h2>programming</h2></a> | <a href="/tagged/musings"><h2>musings</h2></a>
</header>